# Kconfig - tado° RU02 board configuration
#
# Copyright (c) 2017 Tado GmbH
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_TADO_RU02

config BOARD
	default tado_ru02

if SOC_FLASH_NRF5 

# Avoid MCUB-90 bug on nRF5x targets:
# mcuboot cannot detect default flash page size without this API and fallbacks
# to strange defaults/hacks. 
config FLASH_PAGE_LAYOUT
	default y

endif # SOC_FLASH_NRF5

if GPIO_NRF5

config GPIO_NRF5_P0
	default y

endif # GPIO_NRF5

if UART_NRF5

config UART_NRF5_GPIO_TX_PIN
	default 6

config UART_NRF5_GPIO_RX_PIN
	default 8

config UART_NRF5_GPIO_RTS_PIN
	default 5

config UART_NRF5_GPIO_CTS_PIN
	default 7

endif # UART_NRF5

if FLASH && SPI

config SPI_FLASH_W25QXXDV
	def_bool y

config GPIO
	def_bool y

config SPI_CS_GPIO
	def_bool y

endif # FLASH && SPI

endif # BOARD_TADO_RU02XX
