CONFIG_ARM=y
CONFIG_SOC_FAMILY_NRF=y
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52832_QFAA=y
CONFIG_BOARD_TADO_RU02XX=y

# Enable MPU
CONFIG_ARM_MPU_NRF52X=y

# Enable generic Serial driver necessary for SPI
CONFIG_SERIAL=y
# Do not use UART driver by default for stdout
# CONFIG_UART_CONSOLE is not set

# GPIO: dependency of SPI (e.g. chip select control)
CONFIG_GPIO=y
CONFIG_GPIO_NRF5=y
CONFIG_GPIO_NRF5_P0=y
CONFIG_GPIO_NRF5_P0_DEV_NAME="GPIO_0"

# Internal flash
CONFIG_FLASH=y
CONFIG_SOC_FLASH_NRF=y
# Avoid MPU access violation during writing slot confirmation from app
CONFIG_MPU_ALLOW_FLASH_WRITE=y

## SPI: enable for external flash support (8 byte word size, 8 MHz)
CONFIG_SPI=y
CONFIG_SPI_INIT_PRIORITY=51
CONFIG_SPI_CS_GPIO=y
CONFIG_SPI_1=y
CONFIG_SPI_1_NAME="SPI_1"
CONFIG_SPI_1_OP_MODES=1
CONFIG_SPI_1_IRQ_PRI=3
CONFIG_SPI_1_CS_GPIO_PORT="GPIO_0"
# SPI Flash CS
CONFIG_SPI_1_CS_GPIO_PIN=27

CONFIG_SPI_NRFX=y
CONFIG_SPI_1_NRF_SPI=y
# CONFIG_SPI_1_NRF_SPIS is not set
CONFIG_SPI_1_NRF_SCK_PIN=28
CONFIG_SPI_1_NRF_MOSI_PIN=29
CONFIG_SPI_1_NRF_MISO_PIN=30

## External SPI flash
CONFIG_FLASH_RDID_VERIFY=y
CONFIG_FLASH_HAS_PAGE_LAYOUT=y
CONFIG_SPI_FLASH_W25QXXDV=y
CONFIG_SPI_FLASH_W25QXXDV_SPI_NAME="SPI_1"
CONFIG_SPI_FLASH_W25QXXDV_DRV_NAME="W25QXXDV"
CONFIG_SPI_FLASH_W25QXXDV_SPI_FREQ_0=8000000
CONFIG_SPI_FLASH_W25QXXDV_SPI_SLAVE=1
CONFIG_SPI_FLASH_W25QXXDV_RDID=0xc22814
CONFIG_SPI_FLASH_W25QXXDV_FLASH_SIZE=1048576
CONFIG_SPI_FLASH_W25QXXDV_MAX_DATA_LEN=256

# Enable console and use RTT by default for log output
CONFIG_CONSOLE=y
CONFIG_STDOUT_CONSOLE=y
CONFIG_HAS_SEGGER_RTT=y
CONFIG_RTT_CONSOLE=y

# Additional board options
CONFIG_GPIO_AS_PINRESET=y
CONFIG_NFCT_PINS_AS_GPIOS=y

# Bluetooth
CONFIG_BT=n
#CONFIG_BT_CTLR=y
