CONFIG_ARM=y
CONFIG_BOARD_TADO_IB01=y
CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F411XE=y
# System
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=72000000
CONFIG_SYS_CLOCK_TICKS_PER_SEC=1000

# clock configuration
CONFIG_CLOCK_CONTROL=y

# Clock configuration for Cube Clock control driver
CONFIG_CLOCK_STM32_HSE_CLOCK=26000000
CONFIG_CLOCK_STM32_SYSCLK_SRC_PLL=y
# use HSE as PLL input
CONFIG_CLOCK_STM32_PLL_SRC_HSE=y
# however, the board does not have an external oscillator, so just use
# the 8MHz clock signal coming from integrated STLink
CONFIG_CLOCK_STM32_HSE_BYPASS=n
# produce 84MHz clock at PLL output
CONFIG_CLOCK_STM32_PLL_M_DIVISOR=13
CONFIG_CLOCK_STM32_PLL_N_MULTIPLIER=216
CONFIG_CLOCK_STM32_PLL_P_DIVISOR=6
CONFIG_CLOCK_STM32_PLL_Q_DIVISOR=9
CONFIG_CLOCK_STM32_AHB_PRESCALER=1
CONFIG_CLOCK_STM32_APB1_PRESCALER=2
CONFIG_CLOCK_STM32_APB2_PRESCALER=1

# RNG
CONFIG_TEST_RANDOM_GENERATOR=y
CONFIG_TIMER_RANDOM_GENERATOR=y

# Enable MPU
CONFIG_STM32_ARM_MPU_ENABLE=y

# GPIO
CONFIG_GPIO=y

# PINMUX
CONFIG_PINMUX=y

# USART
CONFIG_SERIAL=y
CONFIG_UART_STM32_PORT_1=y
CONFIG_UART_STM32_PORT_2=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# SPI config
CONFIG_SPI=y
CONFIG_SPI_STM32=y
CONFIG_USE_STM32_LL_SPI=y

# SPI2 for ENC28J60 (master)
CONFIG_SPI_2=y
CONFIG_SPI_2_OP_MODES=1

# SPI1 for CC1101 (master)
CONFIG_SPI_1=y
CONFIG_SPI_1_OP_MODES=1

# ENC28J60
CONFIG_ETH_ENC28J60=y
CONFIG_ETH_INIT_PRIORITY=80
CONFIG_ETH_ENC28J60_RX_THREAD_STACK_SIZE=800
CONFIG_ETH_ENC28J60_RX_THREAD_PRIO=2
CONFIG_ETH_EN28J60_TIMEOUT=100
CONFIG_ETH_ENC28J60_0=y
CONFIG_ETH_ENC28J60_0_NAME="ETH_0"
CONFIG_ETH_EN28J60_0_FULL_DUPLEX=y
CONFIG_ETH_ENC28J60_0_GPIO_PORT_NAME="GPIOB"
CONFIG_ETH_ENC28J60_0_GPIO_PIN=2
CONFIG_ETH_ENC28J60_0_SPI_PORT_NAME="SPI_2"
CONFIG_ETH_ENC28J60_0_SLAVE=1
CONFIG_ETH_ENC28J60_0_GPIO_SPI_CS=y
CONFIG_ETH_ENC28J60_0_SPI_CS_PORT_NAME="GPIOB"
CONFIG_ETH_ENC28J60_0_SPI_CS_PIN=12
CONFIG_ETH_ENC28J60_0_SPI_BUS_FREQ=10000000
CONFIG_ETH_ENC28J60_0_MAC3=0x2D
CONFIG_ETH_ENC28J60_0_MAC4=0x30
CONFIG_ETH_ENC28J60_0_MAC5=0x32

# CC1101
CONFIG_IEEE802154=y
CONFIG_IEEE802154_CC1101=y
CONFIG_IEEE802154_CC1101_DRV_NAME="RF_0"
CONFIG_IEEE802154_CC1101_SPI_DRV_NAME="SPI_1"
CONFIG_IEEE802154_CC1101_GPIO_SPI_CS=y
CONFIG_IEEE802154_CC1101_GPIO_SPI_CS_DRV_NAME="GPIOA"
CONFIG_IEEE802154_CC1101_GPIO_SPI_CS_PIN=4
CONFIG_IEEE802154_CC1101_SPI_FREQ=3000000
CONFIG_IEEE802154_CC1101_GDO0_INT_PORT="GPIOA"
CONFIG_IEEE802154_CC1101_GDO0_INT_PIN=0
CONFIG_IEEE802154_CC1101_GDO2_INT_PORT="GPIOA"
CONFIG_IEEE802154_CC1101_GDO0_INT_PIN=1
CONFIG_IEEE802154_CC1101_RX_STACK_SIZE=800

# Networking
CONFIG_NETWORKING=y
CONFIG_NET_L2_IEEE802154=y
CONFIG_NET_L2_ETHERNET=y